{{#each allInventory as |inventory|}}
              <tr>
                <td>{{name}}</td>
                <td>{{current_stock}}</td>
                <td>{{pricing.cost}}</td>
                <td>{{pricing.sales_price}}</td>
                <td>
                  <!-- update modal -->
                  <a
                    id="updateInvBtn{{id}}"
                    class="btn-floating btn-large waves-effect waves-light red updateInvBtn"
                    ><i class="material-icons">add</i></a
                  >
                  <div id="modalUpdateInv{{id}}" class="modal modalUpdateInv">
                    <div class="modal-content">
                      <h4>Update Inventory Item</h4>
                      <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <input
                                placeholder="Item Name"
                                id="itemName"
                                type="text"
                                class="validate"
                              />
                              <label for="item_name"></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6">
                              <input
                                placeholder="Current Stock"
                                id="currentStock"
                                type="text"
                                class="validate"
                              />
                              <label for="currentStock"></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6">
                              <input
                                placeholder="Item Cost"
                                id="itemCost"
                                type="text"
                                class="validate"
                              />
                              <label for="itemCost"></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6">
                              <input
                                placeholder="Sale Price"
                                id="salePrice"
                                type="text"
                                class="validate"
                              />
                              <label for="salePrice"></label>
                              <div class="modal-footer">
                                <a
                                  class="addbtn modal-close waves-effect waves-light btn-large red"
                                  href="#!"
                                  ><i class="material-icons left">create</i
                                  >Update Item
                                </a>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

{{/each}}
