{{#each allUsers as |users|}}

    <tr>
        <td>{{last_name}}, {{first_name}}</td>
        <td>{{id}}</td>
        <td>
            <div class="switch">
                <label>
                    NO
                    <input {{#unless ../adminPriv}}disabled{{/unless}} class="user-admin-toggle" type="checkbox" {{#if admin}}checked{{/if}} id="user-admin-toggle{{id}}" />
                    <span class="lever"></span>
                    YES
                </label>
            </div>
        </td>
        <td>
            <button
                {{!-- disble if logged in user is not admin unless the row is self --}}
                {{#ifCond ../userId "!=" id}}
                    {{#unless ../adminPriv}}disabled{{/unless}}
                {{/ifCond}}
                id="updateUserBtn{{id}}"
                class="btn-floating btn-large waves-effect waves-light red updateUserBtn"
                ><i class="material-icons">add</i></button
            >
        </td>
    </tr>
{{/each}}

